<!DOCTYPE html>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<html >
<head>
  <style>{
    margin: 0;
    padding: 0;
  }
      body {  background-repeat: no-repeat;
              background-size:cover;
              height:100vh;
              background-image: url({{ url_for('static',filename='55.jpg') }});
            }

  </style>

<!-- istockphoto-1026301280-170667a -->

  <body> <br>




         <h4 style="color:#FFFFFF ;font-family: Lucida Fax">Add book</h4>
          <form class="" action="/" method="POST">
            <input type="text" name="title" value="">
            <input type="submit" name="" value="Add">
          </form>
       <center>


        <h4 style="color:#FFFFFF;
                  font-family: Lucida Fax;">Available Books</h4>
        {% for book in books %} <br>
        <p> <b style="color:#151B54;font-size:22px;font-family:Arial Black">  {{book.title}} </b> </p>

          <form class="" action="./update" method="post">
            <input  type="hidden" name="oldtitle" value="{{book.title}}">
            <input  type="text" name="newtitle" value="{{book.title}}">
            <input  style="background-color:#00BFFF; border-color:blue; color:black" type="submit" name="" value="Update">

          </form>
          <form class="" action="./delete" method="post">
            <input type="hidden" name="title" value="{{book.title}}">
            <input  style="background-color:red; border-color:blue; color:white" type="submit" name="" value="Delete">

            <!-- <button type="submit" class="btn btn-info">Delete</button> -->


          </form>









        {% endfor %}


    </center>
    </head>



  </body>
</html>
